.dislikeButton {
  cursor: pointer;
  width: auto;
  margin-right: 5%;
  transition: all 0.5s;
  border: none;
  outline: none;
  background-color: transparent;
}

.dislikeButton:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #555);
}
