.Button {
  padding: 0.5em;
  width: 10%;
  margin: 0.7em auto;
  background-color: #F06F1E;
  color: white;
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.Button:hover {
  background-color: #E05F0E;
}

.Submit {
  margin: 25px;
}
